<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <button ion-button (click)="chooseFile()">Choose File</button>
  </ion-item>
  <ion-item>
    Filename: {{fileName}}
  </ion-item>
  <ion-item>
    <button ion-button (click)="uploadFile()">Upload File</button>
  </ion-item>
  <ion-item>
    <div>Upload File Name: {{uploadFileName}}</div>
  </ion-item>
  <ion-item>
      <div> Upload File Path: {{uri}}</div>
    </ion-item>
  <ion-item>
    <div> Status: {{uploadStatus}}</div>
  </ion-item>
  <ion-item>
    <ion-item>
      Response: <div class="item">{{uploadMessage}}</div>
    </ion-item>
  </ion-item>
</ion-content>